/***********************************************/
/*
    2017 (c) Jim Motyl 


	Patent content styling
*/
.patent-nocopy {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.patent-item {
    width:95%;
    margin-left:5%;
}

.patent-heading {
    position:relative;
    cursor:pointer;
    font-weight:bold;
}

.patent-heading:hover {
    font-style:italic;
}

.patent-heading-collapse-icon::before {
    content:"\21F1";
}

.collapsed .patent-heading-collapse-icon::before {
    content:"\21F2";
}

.patent-item-content {
    width:95%;
    font-family:monospace, monospace;
}

.patent-item-title {
    position:relative;
    font-weight:bold;
}

