/***********************************************/
/*
    2016 (c) Jim Motyl 
*/

/* The following class will outline all 
   containers, a debugging and learning tool - 

* {
    border: 1px solid red !important;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/


/*
    A general purpose class for resetting previously applied
    styles. Currently it's only used in the dynamic HTML to
    remove styling from <i>, which is used as a dynamic text
    container that is accessed via class names through jQuery
*/
.clear {
  font-style: normal;
}


/*
    Change Mouse Pointer on Hover
*/
.pointer {
  cursor: pointer;
}


/*
    Center Text Horizontally
*/
.center {
  text-align: center;
}


/*
    Element Hide/Show - The class is either added or 
    removed via jQuery as needed.
*/
.element-hide {
  display: none;
  visibility: hidden;
}

.element-show {
  display: block;
  visibility: visible;
}


/*
    User Welcome Message Styling
*/
.user-welcome {
  font-weight: bolder;
}


/*
    User Error Message Styling
*/
.error-msg {
  color: red;
  font-style: none;
}


/*
    User Default Message Styling
*/
.default-msg {
  color: black;
  font-style: none;
}


/*
    User Wait Message Styling
*/
.wait-msg {
  color: blue;
  font-style: italic;
  font-weight: bolder;
}


/*
    User info Message Styling

    Usually part of a label belonging to and input tag. 
    Also intended to inherit the color specified by a prior
    class or property.
*/
.info-msg {
  font-weight: bolder;
  text-decoration: underline;
}

.info-msg-small {
  font-size: small;
  font-weight: bolder;
  text-decoration: underline;
}


/*
	Patent content
*/
.patent-item {
    width:95%;
    margin-left:5%;
}

.patent-heading {
    position:relative;
    cursor:pointer;
    font-weight:bold;
}

.patent-heading:hover {
    font-style:italic;
}

.patent-heading-collapse-icon::before {
    content:"\21F1";
}

.collapsed .patent-heading-collapse-icon::before {
    content:"\21F2";
}

.patent-item-content {
    width:95%;
    font-family:monospace, monospace;
}

.patent-item-title {
    position:relative;
    font-weight:bold;
}

